<a href="https://colab.research.google.com/github/penny1xu/Leetcode-practice/blob/main/data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#index
x = 'house '+ 'shoe'
s = [("lovd","you"),("so","much")]
print(s[1])
print(x)

('so', 'much')
house shoe

In [12]:
#tuple
z = ("lovd","you") +("too",)
print(z)

#list
y = ['pig','kevin']+['house']
print(y)

('lovd', 'you', 'too')
['pig', 'kevin', 'house']

In [13]:
#string
x = 'bug'*3
print(x)

bugbugbug

In [18]:
#boolean
x = 'bug'
print('u' in x)

y =['pig','kevin']+['house']
print('p' in y)
print('house' in y)

True
False
True

In [24]:
#iteration

x = [1,2,3]
for item in x:
  print(item)

#enumerate return index and items
for index,item in enumerate(x):
  print(index,item)

1
2
3
0 1
1 2
2 3

In [25]:
# check length
print(len(x))

3

In [28]:
#sort 

z = ('kevin','niklas','jenny','craig')
print(sorted(z))
# 第二个字母sorted
print(sorted(z, key = lambda k:k[1]))

['craig', 'jenny', 'kevin', 'niklas']
['kevin', 'jenny', 'niklas', 'craig']

In [33]:
#count（item)
#string
x = 'hippo'
print(x.count('p'))

#list
y = ['pig','cow','horse','cow']
print(y.count('cow'))

#tuple
z= ('Kevin', 'Niklas','Jenny')
print(z.count('Kevin'))

2
2
1

In [37]:
# unpacking 
y = ['pig','cow','horse','cow']
a,b,c,d = y
print(a,b,d)

pig cow cow

**Lists**

In [2]:
# creating a new list
x = list()
y = ['a',25,'dog',8.4]
tuplel = (10,20)
z = list(tuplel)
s = list(y)
print(s)


a = [m for m in range(8)]
print(a)

b = [i**2 for i in range(10) if i >4]
print(b)

['a', 25, 'dog', 8.4]
[0, 1, 2, 3, 4, 5, 6, 7]
[25, 36, 49, 64, 81]

In [6]:
x = [4,5,6,7,0]
del(x[1])
print(x)
del(x)
print(x)

[4, 6, 7, 0]

NameError: ignored