<a href="https://colab.research.google.com/github/penny1xu/Leetcode-practice/blob/main/data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#index
x = 'house '+ 'shoe'
s = [("lovd","you"),("so","much")]
print(s[1])
print(x)

('so', 'much')
house shoe

In [12]:
#tuple
z = ("lovd","you") +("too",)
print(z)

#list
y = ['pig','kevin']+['house']
print(y)

('lovd', 'you', 'too')
['pig', 'kevin', 'house']

In [13]:
#string
x = 'bug'*3
print(x)

bugbugbug

In [18]:
#boolean
x = 'bug'
print('u' in x)

y =['pig','kevin']+['house']
print('p' in y)
print('house' in y)

True
False
True

In [24]:
#iteration

x = [1,2,3]
for item in x:
  print(item)

#enumerate return index and items
for index,item in enumerate(x):
  print(index,item)

1
2
3
0 1
1 2
2 3

In [25]:
# check length
print(len(x))

3

In [28]:
#sort 

z = ('kevin','niklas','jenny','craig')
print(sorted(z))
# 第二个字母sorted
print(sorted(z, key = lambda k:k[1]))

['craig', 'jenny', 'kevin', 'niklas']
['kevin', 'jenny', 'niklas', 'craig']

In [33]:
#count（item)
#string
x = 'hippo'
print(x.count('p'))

#list
y = ['pig','cow','horse','cow']
print(y.count('cow'))

#tuple
z= ('Kevin', 'Niklas','Jenny')
print(z.count('Kevin'))

2
2
1

In [37]:
# unpacking 
y = ['pig','cow','horse','cow']
a,b,c,d = y
print(a,b,d)

pig cow cow

**Lists**

In [2]:
# creating a new list
x = list()
y = ['a',25,'dog',8.4]
tuplel = (10,20)
z = list(tuplel)
s = list(y)
print(s)


a = [m for m in range(8)]
print(a)

b = [i**2 for i in range(10) if i > 4]
print(b)

['a', 25, 'dog', 8.4]
[0, 1, 2, 3, 4, 5, 6, 7]
[25, 36, 49, 64, 81]

In [6]:
x = [4,5,6,7,0]
del(x[1])
print(x)
del(x)

[4, 6, 7, 0]

NameError: ignored

In [1]:
#append
x = [ 3,4,5,6,7]
x.append(0)
print(x)

[3, 4, 5, 6, 7, 0]

In [3]:
x = [5,6,7,8,9,6,7]
x.pop()
print(x)
print(x.pop())

x.remove(6)

x.reverse()

[5, 6, 7, 8, 9, 6]
6

In [5]:
x = [5,6,7,8,9,6,7]

x.sort()

print(x)

#reverse sort

x.sort(reverse=True)
print(x)

[5, 6, 6, 7, 7, 8, 9]
[9, 8, 7, 7, 6, 6, 5]

In [ ]:
#Tuple(要有逗号)
# 不能删或者改
x = ()
x = (1,2,3)
x = 1,2,3
x = 2,
print(x,type(x))

list1 = [2,4,6]
x = tuple(list1)

print(x,type(x))


del(x[1]) # error tuple cannot delete
x[1] = 8 # error tuple cannot add value

In [11]:
y = ([1, 2], 3)
del(y[0][1]) # 0 - 选择 [1,2] \ 1 - [1,2]中的 2 这个数字
print(y)

y +=(4,) # concatenating two tuples
print(y)

([1], 3)
([1], 3, 4)

**Sets**

In [19]:
# sets
x = {3,5,3,5,8,9} # 重复的移调了
print(x)

y = set()
print(y)

list1 = [2,3,4,4]
z = set(list1)
print(z)

#add item in set
x.add(7)

#remove item in set
x.remove(3)

#check membership 
print(6 in x)

# pop random item from set x
print(x.pop(),x)

#delete all item
x.clear()

{8, 9, 3, 5}
set()
{2, 3, 4}
False
5 {7, 8, 9}

In [2]:
s1 = {1,2,3}
s2 = {3,4,5}

print(s1 & s2) # intersection is 3
print(s1 | s2) # union 
print(s1 ^ s2) # excusive 没有 3
print(s1 - s2) # 
print(s1 <= s2) # subset of other set
print( s1 >= s2)  # return false

{3}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2}
False
False

**Dictionaries**
connot be sort

In [14]:
x = {'pork':25.3, 'beef':33.8,'chicken': 22.7}
print(x)

# pass the list of tuples
x = dict([('pork',25.3),('beef',33.8),('chicken', 22.7)]) # tuples contain two Items
print(x)

x = dict(pork = 25.3 , beef = 33.8, chicken = 22.7,shrimp = 30)
print(x)

# add
if 'shrimp' in x:
  print("has shrimp")
else:
  x['shrimp'] =38.8
  print(x)

#delete an item( 只delete 了key)
del(x['shrimp'])
print(x)

# delete all 
x.clear()

# delete dic x
del(x)

{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}
{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}
{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7, 'shrimp': 30}
has shrimp
{'pork': 25.3, 'beef': 33.8, 'chicken': 22.7}

**Accessing keys and values in a dict**

In [25]:
y = {'pork':25.3, 'beef':33.8,'chicken': 22.7}
print(y.keys())
print(y.values())
print(y.items())

# check the keys
print('beef' in y)

# check the value
print(33.8 in y.values())

dict_keys(['pork', 'beef', 'chicken'])
dict_values([25.3, 33.8, 22.7])
dict_items([('pork', 25.3), ('beef', 33.8), ('chicken', 22.7)])
True
True

**iterating a dict**

In [29]:
for key in y:
  print(key,y[key])

for key,value in y.items():
  print(key,value)

pork 25.3
beef 33.8
chicken 22.7
pork 25.3
beef 33.8
chicken 22.7

## **Python List Comprehensions**

In [32]:
under_10 = [x for x in range(10)]
print(under_10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
# squared values
squares = [x ** 2 for x in under_10] 
print(squares)

squares = [x ** 2 for x in under_10 if x >2] 
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[9, 16, 25, 36, 49, 64, 81]

In [47]:
# get odd numbers using mod
odds = [x for x in range(10) if x% 2 ==1]
print('odds' + str(odds))

odds[1, 3, 5, 7, 9]

In [49]:
ten_x = [x * 10 for x in range(10)]
print('ten_x:' + str(ten_x) )

ten_x:[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [55]:
s = 'I love 2 go t0 the store 7 times a w3ek'
nums = [x for x in s  if x.isnumeric()]
print('nums:' + '' .join(nums))

nums:2073

In [63]:
names = ['Cosmo', 'Pedro', "Anu",'Ray']
idx = [ k for k,v in enumerate(names) if v =='Anu']
print('index = ' +str(idx[0]))

index = 2

In [72]:
import random
letters = [x for x in 'ABCDEF']
random.shuffle(letters)
letrs = [a for a in letters if a !='C']
print(letters,letrs)

['A', 'D', 'F', 'B', 'C', 'E'] ['A', 'D', 'F', 'B', 'E']

In [73]:
nums = [5,3,10,18,6,7]
new_list = [x if x%2 ==0 else 10* x for x in nums]
print('new list: ' + str(new_list))

new list: [50, 30, 10, 18, 6, 70]

In [4]:
a = [[1,2],[3,4]]
new_list = [x for b in a for x in b]
print(new_list)

[1, 2, 3, 4]

# **Stacks, Queues & Heaps**