<a href="https://colab.research.google.com/github/penny1xu/Leetcode-practice/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
claim = "Pluto is a planet!"
claim.index('l')
claim.startswith(planet)

In [ ]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]

def word_search(doc_list, keyword):
    # list to hold the indices of matching documents
    indices = [] 
    # Iterate through the indices (i) and elements (doc) of documents
    for i, doc in enumerate(doc_list):
        # Split the string doc into a list of words (according to whitespace)
        tokens = doc.split()
        # Make a transformed list where we 'normalize' each word to facilitate matching.
        # Periods and commas are removed from the end of each word, and it's set to all lowercase.
        normalized = [token.rstrip('.,').lower() for token in tokens]
        # Is there a match? If so, update the list of matching indices.
        if keyword.lower() in normalized:
            indices.append(i)
    return indices

word_search(doc_list, 'casino')

In [ ]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
'/'.join([month, day, year])
' 👏 '.join([word.upper() for word in words])

In [ ]:
name1 = "Angela Yu"
name2 = "Jack Bauer"

name1 = name1.lower()
name2 = name2.lower()
name3 = name1 + name2

T = name3.count("t")
R = name3.count("r")
U = name3.count("u")
E = name3.count("e")
total1 = T+R+U+E
L = name3.count("l")
O = name3.count("o")
V = name3.count("v")
E = name3.count("e")
total2 = L+O+V+E

In [ ]:
names_string = ['Angela', 'Ben', 'Jenny', 'Michael', 'Chloe']

import random
# 🚨 Don't change the code below 👇
test_seed = int(input("Create a seed number: "))
random.seed(test_seed)

# Split string method
names_string = input("Give me everybody's names, separated by a comma. ")
names = names_string.split(", ")
# 🚨 Don't change the code above 👆

#Write your code below this line 👇
print(names)

Create a seed number: 1
Give me everybody's names, separated by a comma. Angela, Ben, Jenny, Michael, Chloe
['Angela', 'Ben', 'Jenny', 'Michael', 'Chloe']

In [ ]:
# 🚨 Don't change the code below 👇
row1 = ["1","2","3"]
row2 = ["4","5","6"]
row3 = ["7","8","9"]
map = [row1, row2, row3]
print(f"{row1}\n{row2}\n{row3}")
position = input("Where do you want to put the treasure? ")
# 🚨 Don't change the code above 👆

#Write your code below this row 👇
i = int(position[0])
j = int(position[1])

map[i - 1][j - 1]= 'X'
print(f"{row1}\n{row2}\n{row3}")





#Write your code above this row 👆

# 🚨 Don't change the code below 👇
#print(f"{row1}\n{row2}\n{row3}")

In [ ]:
starting_dictionary = {
  "a": 9,
  "b": 8,
}

starting_dictionary['c']=2
print(starting_dictionary)

In [ ]:
order = {
  "starter": {1: "Salad", 2: "Soup"},
  "main": {1: ["Burger", "Fries"], 2: ["Steak"]},
  "dessert": {1: ["Ice Cream"], 2: []},
}

print(order["starter"][1])

In [ ]:
from replit import clear
#HINT: You can call clear() to clear the output in the console.

dic = {}

def get_input():
  value = 0
  
  name = input("please input your name: ")
  price = int(input("please input your price: "))
  canadate = input("other canadate: ")
  dic[name] = price
  if canadate == "no":
    for key in dic:
      if dic[key]  > value:
        value = dic[key]
        final_name = key
    print(final_name,value)
        
  else:
    return get_input()

get_input()

# change name

In [1]:
def format(f_name, l_name):
  F_name = ""
  L_name = ""
  f_name = f_name.lower()
  l_name = l_name.lower()
  for f in range(len(f_name)):
    if f == 0:
      F_name += f_name[f].upper()
    else:
      F_name +=f_name[f]
  for l in range(len(l_name)):
    if l == 0:
      L_name += l_name[l].upper()
    else:
      L_name +=l_name[l]   
 
  print(F_name, L_name)


format('esdioej','dsfjkjdaXU')

Esdioej Dsfjkjdaxu

# Calculater

In [ ]:
def add (first, next):
  return first + next

def subtract (first, next):
  return first - next

def dividide (first, next):
  return first / next

def multi (first, next):
  return first * next

first = int(input("what is your 1st number: "))
next = int(input("what is your next number: "))

operation_sym = {
  "+": add,
  "-": subtract,
  "/": dividide,
  "*": multi
}
for symbol in operation_sym:
  print(symbol)
operation = input("pick an operation: ")
cal_function = operation_sym[operation]
ans = cal_function(first,next)
print(ans)

# Running Sum of 1d Array

In [3]:
new_nums = []

def runningSum(nums):
  for i in range(len(nums)): # 取每个值 1，2，3，4
    if i == 0:
      new_nums.append(nums[i])# 先吧1 赋予新的list
      num1 = nums[i]
    else:
       num = num1 + nums[i]  # 1+2=3
       num1 = num
       new_nums.append(num1) # 加入新的lis
  return new_nums
            
nums = [1,2,3,4] 
runningSum(nums)

[1, 3, 6, 10]

In [4]:
def runningSum(nums):
  a = 0
  lis= []
  for i in nums:
    a += i
    lis.append(a)
  return(lis)
nums = [1,2,3,4] 
runningSum(nums)

[1, 3, 6, 10]

#1672. Richest Customer Wealth

In [67]:
#my way
def maximumWealth(accounts):
  max = 0
  for num in accounts: # [1,2,3] [3,2,1]
    total = sum(num)
    if total > max:
      max = total
  return max
     
  
  




accounts = [[1,5],[7,3],[3,5]]
maximumWealth(accounts)

10

In [61]:
accounts = [[1,2,3],[3,2,1]]

6
6

In [ ]:
: