<a href="https://colab.research.google.com/github/penny1xu/Leetcode-practice/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
claim = "Pluto is a planet!"
claim.index('l')
claim.startswith(planet)

In [ ]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]

def word_search(doc_list, keyword):
    # list to hold the indices of matching documents
    indices = [] 
    # Iterate through the indices (i) and elements (doc) of documents
    for i, doc in enumerate(doc_list):
        # Split the string doc into a list of words (according to whitespace)
        tokens = doc.split()
        # Make a transformed list where we 'normalize' each word to facilitate matching.
        # Periods and commas are removed from the end of each word, and it's set to all lowercase.
        normalized = [token.rstrip('.,').lower() for token in tokens]
        # Is there a match? If so, update the list of matching indices.
        if keyword.lower() in normalized:
            indices.append(i)
    return indices

word_search(doc_list, 'casino')

[0]

In [ ]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
'/'.join([month, day, year])
' üëè '.join([word.upper() for word in words])

NameError: ignored

In [ ]:
name1 = "Angela Yu"
name2 = "Jack Bauer"

name1 = name1.lower()
name2 = name2.lower()
name3 = name1 + name2

T = name3.count("t")
R = name3.count("r")
U = name3.count("u")
E = name3.count("e")
total1 = T+R+U+E
L = name3.count("l")
O = name3.count("o")
V = name3.count("v")
E = name3.count("e")
total2 = L+O+V+E

angela yujack bauer

In [ ]:
names_string = ['Angela', 'Ben', 'Jenny', 'Michael', 'Chloe']

import random
# üö® Don't change the code below üëá
test_seed = int(input("Create a seed number: "))
random.seed(test_seed)

# Split string method
names_string = input("Give me everybody's names, separated by a comma. ")
names = names_string.split(", ")
# üö® Don't change the code above üëÜ

#Write your code below this line üëá
print(names)

Create a seed number: 1
Give me everybody's names, separated by a comma. Angela, Ben, Jenny, Michael, Chloe
['Angela', 'Ben', 'Jenny', 'Michael', 'Chloe']

In [ ]:
# üö® Don't change the code below üëá
row1 = ["1","2","3"]
row2 = ["4","5","6"]
row3 = ["7","8","9"]
map = [row1, row2, row3]
print(f"{row1}\n{row2}\n{row3}")
position = input("Where do you want to put the treasure? ")
# üö® Don't change the code above üëÜ

#Write your code below this row üëá
i = int(position[0])
j = int(position[1])

map[i - 1][j - 1]= 'X'
print(f"{row1}\n{row2}\n{row3}")





#Write your code above this row üëÜ

# üö® Don't change the code below üëá
#print(f"{row1}\n{row2}\n{row3}")

['1', '2', '3']
['4', '5', '6']
['7', '8', '9']
Where do you want to put the treasure? 22
['1', '2', '3']
['4', 'X', '6']
['7', '8', '9']

In [1]:
starting_dictionary = {
  "a": 9,
  "b": 8,
}

starting_dictionary['c']=2
print(starting_dictionary)

{'a': 9, 'b': 8, 'c': 2}

In [8]:
order = {
  "starter": {1: "Salad", 2: "Soup"},
  "main": {1: ["Burger", "Fries"], 2: ["Steak"]},
  "dessert": {1: ["Ice Cream"], 2: []},
}

print(order["starter"][1])

Salad

In [ ]:
from replit import clear
#HINT: You can call clear() to clear the output in the console.

dic = {}

def get_input():
  value = 0
  
  name = input("please input your name: ")
  price = int(input("please input your price: "))
  canadate = input("other canadate: ")
  dic[name] = price
  if canadate == "no":
    for key in dic:
      if dic[key]  > value:
        value = dic[key]
        final_name = key
    print(final_name,value)
        
  else:
    return get_input()

get_input()

# change name

In [ ]:
def format(f_name, l_name):
  f_name.lower()
  f_name[0].upper()
  l_name.lower()
  l_name[0].upper()
  print(f_name, l_name)


format('YEYUN','XU')

# Calculater